<div class="row">
  <h2>注文情報入力</h2>
  <div class="col-xs-12" style="margin-top: 50px;">
   <%= form_with(model: @order, url: orders_pre_create_path, method: :post, local: true) do |f| %>
      <table class="table">
        <tbody>
          <tr>
            <th scope="row">支払い方法</th>
            <td>
              <div class="radio">
                <%= f.radio_button :payment, 0 %>
                <label> クレジットカード</label>
                <%= f.radio_button :payment, 1 %>
                <label>銀行振込</label>       
              </div>
            </td>
          </tr>
          <tr>
            <th scope="row">お届け先</th>
            <td>        
              <div class="radio">
                <%= radio_button_tag(:selected_address, :radio1) %>
                <%= label_tag(:selected_address, "ご自身の住所") %>
                <p><%= @client.postal_code %><%= @client.street_address %></p>
                <p><%= @client.first_name %><%= @client.last_name %></p>
              </div>
              <div class="radio">
                <%= radio_button_tag(:selected_address, :radio2) %>
                <%= label_tag(:selected_address, "登録済住所から選択") %>
                <%= collection_select(:regestrated_address, :regestrated_address, current_client.shipping_addresses.all, :id, :full_address, prompt: "住所を選択してください") %>
              </div>
              <div class="radio">
                <%= radio_button_tag(:selected_address, :radio3) %>
                <%= label_tag(:selected_address, "新しいお届け先") %>
                 <div class="field">
                  <label class="">郵便番号（ハイフンなし）</label>
                  <%= f.text_field :postal_code, autofocus: true, class:""%>
                </div>
                <div class="field">
                  <label class="">住所</label>
                  <%= f.text_field :street_address, autofocus: true, class:""%>
                </div>
                 <div class="field">
                <label class="">宛名</label>
                 <%= f.text_field :receive_name, autofocus: true, class:""%>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="col-xs-offset-5">
        <%= f.submit "確認画面へ進む",class:"btn btn-primary col-xs-12" %>
      </div>
    <% end %>
  </div>
</div>