<h4>ジャンル編集</h4>
<%= form_for(@genre, url: admins_genre_path(@genre),html: {method: "patch"}) do |genre| %>

	<%= genre.text_field :name %>
	<%= genre.radio_button :is_enabled, :true %>有効

	<%= genre.radio_button :is_enabled, :false %>無効

	<%= genre.submit '変更を保存する' %>

<% end %>
