<div class="row">
<h2>配送先編集</h2>

<%= form_for(@shipping_address) do |f| %>
	<p>郵便番号(ハイフンなし)</p>
	<%= f.text_field :postal_code %>
	<p>住所</p>
	<%= f.text_area :street_address %>
	<p>宛名</p>
	<%= f.text_area :receive_name %>

	<%= f.submit "編集する", class: "btn btn-primary" %>
<% end %>
</div>



